.home-content {
  display: grid;
  align-items: center;

  .home-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .fav-btn {
      cursor: pointer;
    }
  }

  .nav-items {
    float: right;
    padding: 15px 15px;

    a {
      padding: 5px 10px;
      border: 1px solid gray;
      margin: 0px 10px;
      text-decoration: none;
      color: black;
    }
  }
}
